* {
  margin: 0;
  padding: 0;
}

body {
  background-color: 0e1014;
}

header img {
  display: block;
  margin: 75px 0 0 360px;
}

h1 {
  font-size: 64px;
  font-family: "Unbounded", Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 24px;
}

p {
  font-size: 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 400;
  width: 792px;
  margin: 0 auto;
}

a {
  font-size: 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #9747ff;
  color: #ffffff;
  text-decoration: none;
  height: 66px;
  width: 340px;
  display: block;
  text-align: center;
  border-radius: 36px;
  line-height: 66px;
  margin: 40px auto;
}
a:hover {
  background-color: #8233e8;
}

section img {
  display: block;
  height: 446px;
  width: 792px;
  margin: 0 auto;
}

.texto-preto {
  color: #232323;
}

.texto-roxo {
  color: #9747ff;
}

@media (max-width: 768px) {
  header img {
    margin: 65px 0 0 60px;
  }

  h1 {
    margin-top: 72px;
    margin-bottom: 24px;
  }

  p {
    width: 648px;
    margin: 0 60px;
  }

  section img {
    width: 659px;
    height: 446px;
  }
}

@media (max-width: 376px) {
  header img {
    margin: 32px 0 0 16px;
  }

  h1 {
    margin: 60px 17px 0 17px;
    font-size: 40px;
    letter-spacing: 0;
  }

  p {
    margin: 24px 17px 0 17px;
    width: 341px;
    font-size: 20px;
  }

  a {
    width: 251px;
    font-size: 20px;
  }

  section img {
    width: 341px;
    height: 231px;
  }
}
