* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

header img {
  display: block;
  margin: 75px 0 0 360px;
}

h1 {
  font-size: 64px;
  font-family: "Unbounded", Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 24px;
}

p {
  font-size: 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 400;
  width: 792px;
  margin: 0 auto;
}

a {
  font-size: 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #9747ff;
  color: #f5f5f5;
  text-decoration: none;
  height: 66px;
  width: 340px;
  display: block;
  text-align: center;
  border-radius: 36px;
  line-height: 66px;
  margin: 40px auto;
}
a:hover {
  background-color: #8233e8;
}

section img {
  display: block;
  height: 446px;
  width: 792px;
  margin: 0 auto;
}

footer p {
  font-size: 12px;
  width: fit-content;
  margin: 0 0;
}

footer a {
  font-size: 12px;
  width: 150px;
  height: 33px;
  line-height: 33px;
  margin: 0 auto;
}

.git-hub-link {
  margin: 10px auto;
  width: fit-content;
  display: flex;
  align-items: baseline;
  gap: 13px;
}

.texto-preto {
  color: #232323;
}

.texto-roxo {
  color: #9747ff;
}

@media (max-width: 768px) {
  body {
    width: fit-content;
  }
  header img {
    margin: 65px 0 0 60px;
  }

  h1 {
    margin-top: 72px;
    margin-bottom: 24px;
  }

  p {
    width: 648px;
    margin: 0 auto;
  }

  section img {
    width: 659px;
    height: 446px;
  }

  footer p {
    font-size: 24px;
    width: 648px;
    margin: 0 60px;
  }

  footer a {
    font-size: 24px;
    width: 340px;
    height: 66px;
    line-height: 66px;
    margin: 20px auto;
  }

  .git-hub-link {
    margin: 20px auto;
    width: fit-content;
    display: block;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 376px) {
  header img {
    margin: 32px 0 0 16px;
  }

  h1 {
    margin: 60px 17px 0 17px;
    font-size: 40px;
    letter-spacing: 0;
  }

  p {
    margin: 24px auto;
    width: 341px;
    font-size: 20px;
  }

  a {
    width: 251px;
    font-size: 20px;
  }

  section img {
    width: 341px;
    height: 231px;
  }

  footer p {
    font-size: 15px;
    width: auto;
    margin: 0 60px;
  }

  footer a {
    font-size: 15px;
    width: 200px;
    height: 44px;
    line-height: 44px;
    margin: 20px auto;
  }

  .git-hub-link {
    margin: 20px 0;
    width: auto;
    display: block;
    align-items: center;
    gap: 0;
  }
}
